<h2>Posts</h2>

<table class="table table-hover">
	<% @posts.each do |post| %>
	<tr>
		<td>
			Votes: <%= post.vote_number %>
				<%= link_to raw('<i class="icon-chevron-up"></i>'), upvote_post_path(post) %>
				<%= link_to raw('<i class="icon-chevron-down"></i>'), downvote_post_path(post) %>

			<%= link_to(post.title, display_url_link(post)) %> (<%= link_to "#{pluralize post.comments.count, 'comment'}", post_path(post) %>)
			<% if post.user %>
				Posted By: <%= User.find_by_id(post.user_id).username %> 
			<% end %>
		</td>
	</tr>
<% end %>
</table>

<% if logged_in? %>
	<%= link_to 'Create new post', new_post_path %>
<% end %>