<h2>Submit a new link</h2>

<%= form_for(@post) do |f| %>
	<%= f.label :url, "URL:" %>
	<%= f.text_field :url, :placeholder => "URL"%>
	<%= f.label :title, "Title:" %>
	<%= f.text_field :title, :placeholder => "Title" %>
	<br>
	<%= f.submit "Save post!" %>
<% end %>


<h2>Submit a new link (with tag helpers)</h2>

<%= form_tag '/posts' do %>
	<%= label_tag 'post[url]', "URL:" %>
	<%= text_field_tag 'post[url]', nil, :placeholder => "URL" %>
	<%= label_tag 'post[title]', "Title:" %>
	<%= text_field_tag 'post[title]', nil, :placeholder => "Title" %>
	<br>
	<%= submit_tag "Save post!" %>
<% end %>
