<h2><%= link_to(@post.title, @post.url) %></h2>
<% if @post.comments.count > 0 %>
	<h4><%= pluralize(@post.comments.count, "Comment") %>:</h4>
	<table class="table table-hover">
		<% @post.comments.each do |comment| %>
			<tr>
				<td><%= comment.content %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h4>No comments yet</h4>
	<hr>
<% end %>

<h4>Add a comment:</h4>
<%= form_for([@post, @comment]) do |f| %>
	<%= f.text_area :content, :rows => 4, :placeholder => "Comments" %>
	<br>
	<%= f.submit %>
<% end %>
<br><br>
<p><%= link_to 'Back to Posts', posts_path %></p>